
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border:1px solid green;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color:green;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: green;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: green;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: green;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color:green;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: green;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: rgb(117, 220, 117);
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
.navbar .navbar-nav a{
    text-decoration: none;
    color:green;
    font-size: 20px;
    margin:0px 30px;
}
.navbar-default .navbar-nav{
    display:block;
    margin-left:auto;
    margin-right: auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

:root{
    --body-color: #ffffff;
    --sidebar-color: rgb(236, 255, 236);
    --primary-color: green;
    --primary-color-light: #F6F5FF;
    --toggle-color: rgb(170, 170, 170);
    --text-color: rgb(116, 116, 116);

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 80px;
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -30px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}
.image-text{
    margin-top:50px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li.active{
    background-color: var(--primary-color);
}
.sidebar li.active a{
    color:white;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.botton-content{
    position: absolute;
    bottom:20px;
    padding-left: 30px;
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    color: green;
    padding: 22px 60px;
    margin-top: 30px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.home .status{
    margin-top:50px;
    color:black;
    font-style: 400;
}
.home .status h2{
    font-size: 24px;
    color:black;
    text-decoration: none;
}
.home .status h4{
    font-size: 18px;
    text-decoration: none;
}
.home .status .bin_id{
    padding:20px;
    border:1px solid rgb(0, 128, 0,0.2);
    border-radius: 15px;
    margin:35px auto;
    width:100%;
}
@media only screen and(max-width:579px){
    .home .status .bin_id{
        width:140%;
        padding-left:-50px;
    }
}

.home .status .bin_id:hover{
    box-shadow: 0px 4px 16px rgb(0, 128, 0,0.05), 0px 6px 20px rgb(0,128,0,0.06);
    background-color: rgb(0,0128,0,0.04);
}
.home .status .level{
    text-align: right;
}
.home .status .skill{
    margin:40px 0px 20px 5px;
}
.home .skill h4{
    text-align: left;
}
.outer{
    display: flex;

    border-radius: 8px;
    background: transparent;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}
.status .bin_details{
    text-align: right;
}
.status .bin_details a{
    text-decoration: none;
    color:rgb(2, 192, 2);
    padding:10px 10px 5px;
}
.status .bin_details a:hover{
    background-color: rgb(0, 158, 0);
    color:white;
    border-radius: 50%;
}
.progress_bar{
    width:100%;
    height:15px;
    background-color: rgb(225, 255, 225);
}
.bar{
    height:15px;
    background-color: green;
}
.home .bin-details{
    margin-top:50px;
    font-weight: 100;
}
.home .bin-details .binId{
    margin:10px auto 30px;
    border:1px solid rgb(0, 158, 0,0.3);
    border-radius: 15px;
    padding:10px;
    cursor: pointer;
    display:none
}
.home .bin-details .collapse_btn{
    color:black;
    font-size: 24px;
    font-weight: 100;
}
.home .bin-details #bin:hover .collapse{
    display:block;
}
.home .bin-details .collapse_btn:hover{
    color:rgb(0, 158, 0)
}

.home .location{
    font-size: 18px;
    padding:10px 10px 0px;
    color:rgb(92, 92, 92)
}
.home .binId .number{
    padding:0px 10px;
    font-size: 18px;
    color:rgb(71, 71, 71)

}
.home .notifications{
    margin-top:50px;
}

.home .notifications ul li{
    list-style-type: none;
}